div {
  height: 100px;
  width: 100px;
  display: inline-block;
  border: 1px solid black;
  margin: 2px;
}

span {
  display: block;
  height: 100px;
  width: 200px;
  background-color: yellow;
  border: 1px solid black;
  margin: 2px;
}
