* {
  box-sizing: border-box;
}
.dropdown {
  display: inline-block;
  margin: 16px;
  background-color: darkgreen;
  opacity: 0.8;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
.dropdown:hover {
  opacity: 1;
}

.menu-button {
  display: inline-block;
  padding: 16px;
}
.menu-list {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: lightcyan;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 120px;
  z-index: 1;
}
.menu-item {
  padding: 16px;
}

.menu-list:hover {
  background-color: ghostwhite;
}

.dropdown:hover .menu-list {
  display: block;
}
