* {
  box-sizing: border-box;
}
.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  font-size: 14px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  width: 250px;
  height: 100px;
  background-color: coral;
  text-align: center;
  line-height: 100px;
  border-radius: 10px;
  animation: moving 2s;
}

@keyframes moving {
  from {
    top: -100px;
  }
  to {
    top: calc(50vh - 50px);
  }
}
