* {
  box-sizing: border-box;
}
html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #555;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  background: linear-gradient(60deg, red, orange);
  text-align: center;
}
h1 {
  color: #fff;
}
.main {
  flex: 1 1 auto;
  display: flex;
}
.navigation {
  padding: 0.5em;
  width: 20%;
}
.nav-list {
  list-style-type: none;
  padding: 0;
}
.nav-list-item {
  background-color: #808080;
  line-height: 2em;
  color: #fff;
  margin-bottom: 0.5em;
}
.nav-list-link {
  display: block;
  text-decoration: none;
  color: #fff;
  padding-left: 0.5em;
  padding-right: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.section {
  padding: 0.5em;
  width: 60%;
  font-size: 1.25em;
}
.section__header {
  font-size: 5vw;
  text-align: center;
}
.units-list {
  line-height: 1.75em;
}
.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}
.news {
  padding: 0.5em;
  width: 20%;
}
.footer {
  padding: 0.5em;
  background-color: #e5e5e5;
  text-align: center;
}
